# Mapping test
Working from the [mapboxgl-jupyter demo](https://www.mapbox.com/labs/jupyter/)

In [ ]:
%%bash
pip install mapboxgl
pip install pandas
pip install pysal
## TODO: Move this installation to the docker image, or switch to an image wit this lib already installed.

In [16]:
import pysal.esda.mapclassify as mapclassify
import pandas as pd
import os
from mapboxgl.utils import *
from mapboxgl.viz import *

df = pd.read_csv('points.csv').round(2)
df.rename(index=str, columns={"lon": "longitude", "lat": "latitude"}, inplace=True)
df.head(3)

,Avg Total Payments,Avg Covered Charges,Total Discharges,Avg Medicare Payments,admin1_id,Provider Id,admin2_id,longitude,latitude
0,8749.03,35247.03,58.75,7678.21,USA101,10001,USA201069,-85.36,31.22
1,6812.13,16451.09,28.96,5793.63,USA101,10005,USA201119,-88.14,32.45
2,8197.24,36942.36,45.36,7145.96,USA101,10006,USA201077,-87.68,34.79